<div class="jumbotron-themed">
    <div class="container">
        <h2>Adote hoje um amigo!</h2>
        <p>Navegue abaixo e veja os animais disponíveis!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/uploaded_pics/corgi.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Cachorro</h4>
                    <div class="label label-primary">Cachorro</div>
                    <div class="label label-warning">SRD</div>
                    <div class="label label-success">Masculino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/uploaded_pics/corgi.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Cachorro</h4>
                    <div class="label label-primary">Cachorro</div>
                    <div class="label label-warning">SRD</div>
                    <div class="label label-danger">Feminino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/uploaded_pics/gato.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Gato</h4>
                    <div class="label label-primary">Gato</div>
                    <div class="label label-warning">SRD</div>
                    <div class="label label-success">Masculino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/uploaded_pics/gato.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Gato</h4>
                    <div class="label label-primary">Gato</div>
                    <div class="label label-warning">SRD</div>
                    <div class="label label-danger">Feminino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/img/corgi.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Corgi</h4>
                    <div class="label label-primary">Cachorro</div>
                    <div class="label label-warning">SRD</div>
                    <div class="label label-success">Masculino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/img/corgi.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Corgi</h4>
                    <div class="label label-info">Cachorro</div>
                    <div class="label label-primary">SRD</div>
                    <div class="label label-success">Masculino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="../app/img/corgi.jpg" class="img-responsive" alt="...">
                <div class="centerfy">
                    <h4>Corgi</h4>
                    <div class="label label-info">Cachorro</div>
                    <div class="label label-primary">SRD</div>
                    <div class="label label-success">Masculino</div>
                    <p style="margin-top: 10px;">Cachorro vermifugado, vacinado e cadastrado. Em boas condições.</p>
                </div>
            </div>
        </div>

    </div>
</div>
