<div class="container main-content">
    <div class="jumbotron-themed">
        <div class="centerfy">
            <!-- Formulário de Login -->
            <form action="php/validacao.php" method="post">
                <div class="form-group">
                    <input type="text" id="txUsuario" name="usuario" class="form-control form-control-center" placeholder="Usuário"/>
                </div> <!-- /form-group -->

                <div class="form-group">
                    <input type="text" id="txSenha" name="senha" class="form-control form-control-center" placeholder="Senha" />
                </div> <!-- /form-group -->

                <div class="form-group">
                    <button class="btn btn-success btn" type="submit">Entrar</button>
                </div> <!-- /form-group -->
            </form>
        </div>
    </div>
</div>